# محیط مجازی پایتون
venv/

# فایل‌های کامپایل‌شده‌ی پایتون
*.pyc
__pycache__/

# تنظیمات محیطی و کش‌های بی‌فایده
.env
.DS_Store

# خروجی‌های لاگ و دیتابیس‌های موقت
*.log
*.sqlite3

# فایل‌های مرتبط با VSCode و دیگر ادیتورها
.vscode/
.idea/
venv/
venv/
__pycache__/
